<nav>
  <div class="container">
    <div class="row top-bar">
      <div class="column column-25"></div>
      <div class="column column-50">
        <button
          class="btn btn-outline"
          *ngFor="let link of links"
          [routerLink]="link.path"
          [routerLinkActive]="link.active"
          style="color: white"
        >
          {{ link.label }}
        </button>
        <a
          routerLink="/tdf"
          style="text-decoration: none; color: rgb(255, 255, 255); font-size: 14px; padding-right: 30px;"
          >TDF&nbsp;</a
        >
        <div style="display: inline-block; margin-left: 20pt;">
          <a
            routerLink="/reactive-form"
            style="text-decoration: none; color: rgb(255, 255, 255); font-size: 15px"
            >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Reactive Form</a
          >
          <a routerLink="/api-call" style="text-decoration: none; color: azure; font-size: 15px;">
             &nbsp;&nbsp;&nbsp;API-call&nbsp;            
          </a>
        </div>
        <div>
        </div>
      </div>
    </div>
  </div>
</nav>

<app-notification-board></app-notification-board>

<div class="row">
  <div class="column"></div>
  <div class="column column-50">
    <router-outlet></router-outlet>
  </div>
  <div class="column"></div>
</div>
<app-rxjs></app-rxjs>
