*{
  margin: 0 !important;
  padding: 0 !important;
}
nav{
  background-color: #03223b;
  padding: 10px 0px !important;
}
button{
  margin-right: 20px;
  border-radius: 20px !important;
  width: 150px;
  height: 50px;
}
.button-active{
  background-color: #0c0303;
  color: rgb(255, 254, 255);
}

.button-active:hover,
.button-active:focus{
  background-color: #1c1122;
  border-color: #120c16;
  color: #fff;
}

.top-bar{
  margin: 25px 0;
}
