*{
  margin: 0 !important;
  padding: 0 !important;
}
nav{
  background-color: #94c1e6;
  padding: 10px 0px !important;
}
button{
  margin-right: 20px;
  border-radius: 20px !important;
  width: 150px;
  height: 50px;
}
.button-active{
  background-color: #c387e6;
  color: rgb(12, 11, 12);
}

.button-active:hover,
.button-active:focus{
  background-color: #9b4dca;
  border-color: #9b4dca;
  color: #fff;
}

.top-bar{
  margin: 25px 0;
}
