<button mat-raised-button (click)="fetchData()" class="m-3">Get Users List</button>
<h3>
  <div>
    <table *ngIf="isTableVisible" class="table-bordered mat-elevation-z12">
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Username</th>
        <th>E-mail</th>
      </tr>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
      </tr>
    </table>
  </div>
  <mat-paginator
    #paginator
    [length]="10"
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page"
    showFirstLastButtons
  ></mat-paginator>
</h3>
<h2>{{ 3 + 2 }}</h2>
