<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <app-child></app-child>
    <app-dialog-overview-example></app-dialog-overview-example>
    <mat-card>
      <mat-card-content>Home Page</mat-card-content>
    </mat-card>
    <p>Data from child: {{ userService.myData }}</p>

    <mat-form-field>
      <mat-select placeholder="Select country" [(ngModel)]="selectedOption">
        <mat-option *ngFor="let option of options" [value]="option" >
          {{ option }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button (click)="sendMessage1()">Send Message</button>
    <p *ngIf="selectedOption">You selected: {{selectedOption}}</p>
    <table mat-table class="table table-bordered mat-elevation-z8">
     <tr class="bg-primary">
       <th>Id</th>
       <th>Name</th>
       <th>Username</th>
       <th>Email</th>
     </tr>
     <tr *ngFor="let user of users">
       <td>{{user.id}}</td>
       <td>{{user.name}}</td>
       <td>{{user.username}}</td>
       <td>{{user.email}}</td>
      </tr>
    </table>
  </body>
</html>
