p{
    border: 2px solid blue;
    padding: 50px 20px;
    margin: 5px 700px;
    font-family: 'Roboto', sans-serif;
}
input{
    width: 60%;
    border-radius: 20px;
}
button{
    background-color: aqua;
    margin-left: 150px;
    width: 120px;
    height: 40px;
    border-radius: 20px;
}