// p{
//     border: 2px solid blue;
//     padding: 50px 20px;
//     margin: 5px 700px;
//     font-family: 'Roboto', sans-serif;
// }
input{
    width: 60%;
    border-radius: 20px;
}
button{
    background-color: #00ffff;
    color: black;
    margin-left: 150px;
    width: 120px;
    height: 50px;
    border-radius: 20px;
}
.add-button{
    background-color: rgb(162, 233, 238);
    height: 30px;
    width: 60px;
}
table{
    margin: 20px;
    width: 60%;
}