<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <img [src]="" alt="sun's image" height="150px" width="150px" />
    <button
      mat-raised-button
      [disabled]="btnStatus"
      matTooltip="Info about the action"
      aria-label="Button that displays a tooltip when focused or hovered over"
    >
      Click
    </button>
    <br /><br />
    <img [src]="" alt="sun's image" height="150px" width="150px" />
    <button disabled="{{ btnStatus }}">Click Interpolation</button>
    <br /><br /><br />
    <button (click)="changeTitle()">Change title</button>
    <app-dialog-overview-example></app-dialog-overview-example>
    <button class="add-button" matTooltip="Info about the action" (click)="onAddField()">ADD</button>
  </body>
</html>
